@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    background: #2e4e95; 
}

body {
    color: ghostwhite;
    font-family: sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2, p, a {
    color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
}

nav {
    background: #2e4e95; 
    border-top: 5px solid ghostwhite; 
}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
  
nav ul li {
  display: inline;
}

nav a {
  color: #fff;
  font: 16px 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  background: #fff;
  border: 5px solid #2e4e95;
  color: #2e4e95;
}

#quote {
    margin-bottom: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.index-btn {
    background-color: ghostwhite;
    border-radius: 15px;
    color: #2e4e95;
    padding: 15px 25px;
    text-decoration: none;
}

#quote a:hover, 
#schedule a:hover {
    background-color: #2e4e95;
    color: ghostwhite;
    border: 5px solid ghostwhite;
}

#form {
    padding-top: 20px;
}

#map {
    height: 400px;
    width: 50%;
    margin: 20px auto;
}

.jumbotron {
    background-color: transparent;
    border-bottom: 5px solid white; 
    margin: 0;
    padding-bottom: 30px;
}

label {
    display: block;
}

label {
    margin-bottom: 5px;
}

.form-group,
.button,
.reset,
#quote-gen, 
#output {
    text-align: center;
    padding: 5px;
}

#form,
#quote-gen {
    font-family: 'Montserrat', sans-serif;
}

footer {
    border-left: 100px solid ghostwhite;
    border-right: 100px solid ghostwhite;
}

